@media (min-width: 1560px) {

    header {
        height: 100px;
        margin: 0;
    }

    .quizes {
        flex-direction: row;
    }

    h2 {
        position: static;
        font: 700 30px 'PlayfairDisplay', serif;
        padding-top: 20px;
    }

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    }