@media (min-width: 1240px) {

    h2 {
        position: static;
        font: 700 40px 'PlayfairDisplay', serif;
        padding-top: 20px;
    }

    .settings {
        width: 9%;
    }

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    }