.active {
    display: block;
}

.hide {
    display: none;
}

.option {
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
}

.right_answer {
    background-color: green;
}

.wrong_answer {
    background-color: red;
}


.answer_overlay {
    position: fixed;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 3;
    background-color: rgba(114, 114, 113, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer_overlay button,
.result_overlay button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #9F4636;
    margin-bottom: 20px;
}

.answer_overlay button span,
.result_overlay button span {
    font: 700 24px 'PlayfairDisplay', serif;
    text-transform: uppercase;
    color: white;
}

.basis {
    background-color: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 32px;
    border-radius: 10px;
}

.basis_img {
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
}

.icon {
    width: auto;
    margin-top: 20px;
}

.image_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_description p {
    font: 400 22px 'Oswald', sans-serif;
    color: #543F3F;
}

.result_overlay {
    position: fixed;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: rgba(114, 114, 113, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.result_basis {
    background-color: white;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 32px;
    border-radius: 10px;
}

.results_description {
    display: contents;
    margin-top: 10px;
}

.results_description p {
    font: 400 30px 'Oswald', sans-serif;
    color: #543F3F;
}

.score_root {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.true_false {
    right: 0%;
    position: absolute;
    bottom: 1%;
    background-color: rgb(241,	220, 201);
    border-radius: 50%;
}

.true_false img {
    width: 70px;
    height: 70px;
    padding: 4px;
}
